* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0 40px;
}

.navbar {
	padding: 20px 16px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #595959;
}

.logo-mobile {
	font-family: 'Caprasimo', serif;
	font-size: 20px;
	color: #2c2825;
}

.burger-menu {
	width: 30px;
	height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 7px 3px;
	box-sizing: border-box;
}

.burger-line {
	height: 1.5px;
	width: 100%;
	background-color: black;
	border-radius: 50px;
}

header {
	padding: 0 16px;
	margin: 0 auto;
}

.logo {
	text-align: center;
	margin-top: 66px;
	margin-bottom: 44px;
}

.logo img {
	width: 263px;
}

.image-wrapper {
	height: 570px;
	border-radius: 30px;
	margin: 0 auto;
	position: relative;
}

.image-wrapper img {
	width: 100%;
	height: 100%;
	border-radius: 30px;
	object-fit: cover;
	object-position: center 30%;
}

.sticker {
	background-image: url('assets/Outline.png');
	background-repeat: no-repeat;
	background-size: contain;
	width: 150px;
	height: 150px;
	display: flex;
	flex-direction: column;
	gap: 7px;
	align-items: center;
	justify-content: center;
	font-family: 'Outfit', sans-serif;
	position: absolute;
	bottom: 20px;
	left: 20px;
}

.sticker :first-child {
	font-size: 12px;
	font-weight: bold;
}

.sticker :nth-child(2) {
	font-size: 18px;
	font-weight: 500;
}

.sticker :last-child {
	font-size: 11.7px;
	font-weight: bold;
}

.first-section {
	padding: 120px 40px;
	text-align: center;
	font-family: 'Outfit', sans-serif;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.content h2 {
	font-size: 12px;
	font-weight: bold;
	color: #575757;
}

.content p {
	font-size: 24px;
	font-weight: bold;
	color: #171615;
}

.about-us-btn {
	text-decoration: none;
	display: flex;
	align-items: center;
	gap: 10px;
	background-color: #ffc800;
	border-radius: 4px;
	margin: 0 auto;
	width: fit-content;
	padding: 8px 12px;
	font-size: 14px;
	font-weight: bold;
	color: #2c2825;
	margin-top: 40px;
}

.carousel {
	display: flex;
	flex-direction: row;
	gap: 13.35px;
	height: 200px;
	padding-bottom: 37.39px;
	overflow: auto clip;
	box-sizing: border-box;
}

.carousel-img-wrapper {
	width: 200px;
	height: 200px;
	border-radius: 30px;
	flex-shrink: 0;
	margin-top: -37.39px;
}

.carousel-img-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 30px;
}
