* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0 40px;
	position: relative;
}

.navbar {
	padding: 20px 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #595959;
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: white;
}

.logo-mobile {
	font-family: 'Caprasimo', serif;
	font-size: 20px;
	color: #2c2825;
	text-decoration: none;
}

.burger-menu {
	width: 30px;
	height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 7px 3px;
	box-sizing: border-box;
}

.burger-line {
	height: 1.5px;
	width: 100%;
	background-color: black;
	border-radius: 50px;
}

header {
	padding: 0 16px;
	margin: 0 auto;
}

.logo {
	text-align: center;
	margin: 66px auto 44px;
}

.logo img {
	width: 100%;
}

.image-wrapper {
	height: 570px;
	border-radius: 30px;
	margin: 0 auto;
	position: relative;
}

.image-wrapper img {
	width: 100%;
	height: 100%;
	border-radius: 30px;
	object-fit: cover;
	object-position: center 30%;
}

.sticker {
	background-image: url('assets/Outline.png');
	background-repeat: no-repeat;
	background-size: contain;
	width: 150px;
	height: 150px;
	display: flex;
	flex-direction: column;
	gap: 7px;
	align-items: center;
	justify-content: center;
	font-family: 'Outfit', sans-serif;
	position: absolute;
	bottom: 20px;
	left: 20px;
}

.sticker :first-child {
	font-size: 14px;
	font-weight: bold;
}

.sticker :nth-child(2) {
	font-size: 18px;
	font-weight: 500;
}

.sticker :last-child {
	font-size: 11.7px;
	font-weight: bold;
}

main {
	font-family: 'Outfit', sans-serif;
}

.first-section {
	padding: 120px 40px;
	text-align: center;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.content h2 {
	font-size: 12px;
	font-weight: bold;
	color: #575757;
}

.content p {
	font-size: 24px;
	font-weight: bold;
	color: #171615;
}

.about-us-btn {
	text-decoration: none;
	display: flex;
	align-items: center;
	gap: 10px;
	background-color: #ffc800;
	border-radius: 4px;
	margin: 0 auto;
	width: fit-content;
	padding: 8px 12px;
	font-size: 14px;
	font-weight: bold;
	color: #2c2825;
	margin-top: 40px;
}

.about-us-btn:focus:not(:focus-visible) {
	outline: none;
}

.carousel {
	display: flex;
	flex-direction: row;
	gap: 13.35px;
	height: 200px;
	padding-bottom: 37.39px;
	overflow: auto clip;
	box-sizing: border-box;
}

.carousel-img-wrapper {
	width: 200px;
	height: 200px;
	border-radius: 30px;
	flex-shrink: 0;
	margin-top: -37.39px;
}

.carousel-img-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 30px;
}

section {
	text-align: center;
}

.what-we-do h2 {
	font-size: 36px;
	font-weight: bold;
}

.what-we-do p {
	font-size: 16px;
	color: #2c2825;
	letter-spacing: -2.5%;
	padding: 40px 0;
	border-bottom: 1px solid #595959;
}

.service-list {
	padding: 100px 0;
}

.order-number {
	font-size: 36px;
	font-weight: bold;
	color: #171615;
	margin-bottom: 80px;
}

li {
	list-style: none;
	border-bottom: 1px solid #595959;
	margin-bottom: 40px;
}

li:last-child {
	margin-bottom: 0;
}

li h3 {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 30px;
	color: #171615;
    overflow-wrap: break-word;
}

li p {
	font-size: 16px;
	color: #2c2825;
	margin-bottom: 80px;
}

.service-list-img-wrapper {
	position: relative;
	width: 145.14px;
	height: 145.14px;
	border-radius: 30px;
	margin: 0 auto;
	margin-bottom: 80px;
}

li:last-child .service-list-img-wrapper::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: black;
	opacity: 10%;
	border-radius: 30px;
}

.service-list-img-wrapper img {
	width: 100%;
	height: 100%;
	border-radius: 30px;
	object-fit: cover;
}

.purple-flower-img-wrapper {
	height: 400px;
	border-radius: 30px;
}

.purple-flower-img-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 30px;
}

.work-with-us-section {
	padding: 150px 40px;
}

.work-with-us-section h2 {
	font-size: 12px;
	font-weight: bold;
}

.work-with-us-section p {
	font-size: 24px;
	font-weight: bold;
}

.footer-img-wrapper {
	position: relative;
	height: 573px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	padding: 0 16px;
}

.footer-img-wrapper::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 16px;
	right: 16px;
	background: linear-gradient(to bottom, #00000000, #4b4605);
}

.footer-img-wrapper img {
	width: 100%;
	height: 100%;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	object-fit: cover;
	display: block;
}

.footer-content {
	position: absolute;
	width: 100%;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	color: #f7f7f7;
}

.footer-logo {
	font-size: 117px;
	font-family: 'Caprasimo', serif;
	text-align: center;
}

.contact {
	font-family: 'Outfit', sans-serif;
	font-size: 18px;
	font-weight: 500;
	display: flex;
	justify-content: space-between;
	padding: 0 46px;
}

.nav-items {
	display: none;
}

.logo-desktop {
	display: none;
}

/* Responsive */

@media (min-width: 800px) {
	.burger-menu {
		display: none;
	}

	.nav-items {
		display: flex;
		gap: 40px;
	}

	.nav-item {
		font-family: 'Outfit', sans-serif;
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
		color: #2c2825;
		text-decoration: none;
	}

	.logo-mobile {
		display: none;
	}

	.logo-desktop {
		display: block;
		font-family: 'Caprasimo', serif;
		font-size: 28px;
		color: #2c2825;
		text-decoration: none;
	}

	.sticker {
		width: 188.31px;
		height: 188.31px;
		gap: 8px;
		bottom: 22.5px;
		left: 22.5px;
	}

	.sticker :nth-child(2) {
		font-size: 22px;
		font-weight: 500;
	}

	.content h2 {
		font-size: 14px;
	}

	.content p {
		font-size: 36px;
		max-width: 430px;
		margin: 0 auto;
	}

	.carousel {
		gap: 20px;
		height: 375px;
		padding-bottom: 75px;
	}

	.carousel-img-wrapper {
		width: 300px;
		height: 300px;
		margin-top: 0;
	}

	.what-we-do h2 {
		font-size: 45px;
	}

	.order-number {
		font-size: 45px;
	}

	li h3 {
		font-size: 50;
	}

	.footer-img-wrapper {
		padding: 0 40px;
        height: 579px;
	}

	.footer-img-wrapper::before {
		left: 40px;
		right: 40px;
	}
	.contact {
		padding: 0 70px;
	}
}
